<div class="grid-column-3-4">
    <div class="grid-tile app-wrapper">
        <div id="title-region"></div>
        <div id="workshops-region"></div>
    </div>
</div>
<div class="grid-column-1-4">
    <div class="grid-tile">
        <h1>Sidebar</h1>
    </div>
</div>
