<table class="items-list--table table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>{{ trans "app_title" }}</th>
            <th>{{ trans "app_speaker" }}</th>
            <th>{{ trans "app_location" }}</th>
            <th>{{ trans "app_status" }}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
