html,
body
    height: 100%

body
    +rem(1.4)
    line-height: 160%
    padding-left: 85px

.page-width
    margin: 0 auto
    max-width: 1440px
    min-width: 960px
    width: 100%

.loading-view
    min-height: 200px
