h1, h2, h3, h4, h5, h6
    margin: 0

ol, ul
    list-style-type: none
    margin: 0
    padding: 0

a
    color: inherit
    text-decoration: none

    &:hover
        text-decoration: none

input,
textarea,
button
    outline: none !important
