<div class="page-width">
    <!-- <h1 class="global-header__title">
        <a href="#" class="global-header__title-link"><span class="icon icon-left"></span>{{ trans "nav_courses" }}</a>
    </h1> -->
    <ul class="user-links">
        <li class="user-links__item">
            <span class="user-links__greeting-name">{{ trans "nav_greeting" }}, {{ fullname }}</span>
        </li>
        <li class="user-links__item">
            <a href="/logout" class="user-links__link ">{{ trans "nav_sign_out" }}</a>
        </li>
    </ul>
</div>
<div class="global-nav">
    <ul class="global-nav__header-list">
        <li class="global-nav__header-item">
            <a href="/workshops" class="global-nav__header-link global-nav__header-link--selected"><span class="global-nav__icon icon icon-32 nav-workshops workshops-hover"></span></a>
        </li>
    </ul>
</div>
