<div id="title-region" class="grid-column-1"></div>
<div class="grid-column-1-2">
    <div id="video-region"></div>
    <div id="files-region"></div>
</div>
<div id="aside-region" class="grid-column-1-2"></div>
