<div class="video__content grid-tile app-wrapper">
    <video autoplay="true" class="video__video"></video>
    <div class="video__controls">
        <div class="video__control"><span class="icon icon-16 video-controls-fullscreen"></span></div>
    </div>
</div>
