{{#unless current}}
<div class="message__avatar">
    {{#with author}}
    <img src="{{ avatar }}" alt="{{ name }}">
    {{/with}}
</div>
{{/unless}}
<div class="message__content {{#if current}}message__content--current{{/if}}">
    {{#unless current}}<div class="message__name">{{ author.name }}</div>{{/unless}}
    <div class="message__text">{{ text }}</div>
</div>
