<div class="chat__content grid-tile app-wrapper">
    <div class="chat__messages">
        <ul></ul>
    </div>
    <div class="chat__sharer">
        <form action="">
            <div class="chat__sharer-message">
                <textarea rows="1" placeholder="Send message..." class="chat__sharer-box form-control"></textarea>
            </div>
        </form>
    </div>
</div>
