<div class="form-view">
    <div id="form-content-region"></div>
    <ul class="inline-list">
        <li>
            <button type="button" data-form-button="cancel" class="btn btn-default">Cancelar</button>
        </li>
        <li>
            <button type="submit" data-form-button="primary" class="btn btn-primary">{{ _buttons.text }}</button>
        </li>
    </ul>
</div>