$grid: ( (1), (1, 2), (1, 3), (2, 3), (1, 4), (3, 4) )

.grid
    +clearfix
    padding-left: 15px

.grid-column-1,
.grid-column-1-2,
.grid-column-1-3,
.grid-column-2-3,
.grid-column-1-4,
.grid-column-3-4
    float: left
    padding-right: 16px

@each $g in $grid
    @if length($g) == 1
        .grid-column-#{nth($g, 1)}
            width: 100%
    @else
        .grid-column-#{nth($g, 1)}-#{nth($g, 2)}
            @if nth($g, 1) == 1
                width: (100% / nth($g, 2))
            @else
                width: (100% / nth($g, 2) * nth($g, 1))

.grid-tile
    +border-radius(5px)
    +single-box-shadow(rgba(#000, 0.1), 0, 1px, 0)
    background: #fff
    padding: 25px
    position: relative
