// nav icons
// width: 32px
// color normal: #60676d
// color hover: #fff

@import "nav/*.png"
@include all-nav-sprites

// files icons
// width: 32px

@import "files/*.png"
@include all-files-sprites

// video controls icons
// width: 16px

@import "video-controls/*.png"
@include all-video-controls-sprites


// sizes

.icon
    display: inline-block
    vertical-align: middle

.icon-16
    height: 16px
    width: 16px

.icon-32
    height: 32px
    width: 32px
