.chat
    height: 100%
    position: relative

.chat__content
    bottom: 20px
    left: 0
    padding: 0
    position: absolute
    right: 0
    top: 0

.chat__messages
    @extend .has-scroll, .y-scroll
    background-color: $color-bg-body
    bottom: 51px
    left: 0
    padding: 10px 2px 0 0
    position: absolute
    right: 0
    top: -20px

    &::-webkit-scrollbar
        width: 9px

    &::-webkit-scrollbar-thumb
        +border-radius(4px)

.chat__message--empty
    +rem(1.8)
    +translateY(-50%)
    font-style: italic
    height: 40px
    left: 0
    line-height: 40px
    position: absolute
    right: 0
    text-align: center
    top: 50%

.chat__message
    +clearfix
    margin-bottom: 10px
    position: relative

.message__avatar
    position: absolute
    top: 0

    img
        +border-radius(3px)

.message__content
    +border-radius(3px)
    +single-box-shadow(rgba(#000, 0.25), 0, 1px, 1px)
    background-color: #fff
    margin-left: 50px
    padding: 8px

.message__content--current
    background-color: lighten(#d2cabe, 7.5%)
    float: right
    margin-left: 0

.message__name
    font-weight: bold

.chat__sharer
    border-top: 1px solid darken(#e9e9e9, 10%)
    bottom: 0
    left: 0
    position: absolute
    right: 0

.chat__sharer-message
    +border-bottom-left-radius(5px)
    +border-bottom-right-radius(5px)
    background: #fff
    cursor: text
    padding: 15px 0

.chat__sharer-message textarea
    +single-box-shadow(none)
    border: 0
    font-size: 14px
    height: 20px
    line-height: 20px
    margin: 0
    padding: 0 10px
    resize: none
    width: 100%

    &:focus
        +single-box-shadow(none)
