#files-region
    position: relative

.files__content
    @extend .has-scroll, .y-scroll
    bottom: 0
    left: 0
    padding: 0
    padding: 0 0 0 10px
    position: absolute
    right: 0
    top: 0

    &::-webkit-scrollbar
        width: 9px

    &::-webkit-scrollbar-thumb
        +border-radius(4px)

.files__file--empty
    +rem(1.8)
    +translateY(-50%)
    font-style: italic
    height: 40px
    left: 0
    line-height: 40px
    position: absolute
    right: 0
    text-align: center
    top: 50%

.file__link
    +single-transition(all, 0.15s)
    border-bottom: 1px solid #edeff0
    display: block
    overflow: hidden
    padding: 20px 20px 20px 60px

    &:hover
        color: #384047

        .file__icon
            opacity: 0.75

.file__icon
    +single-transition(all, 0.15s)
    float: left
    margin: -5px 0 -7px -45px
    width: 32px

.file__size
    +rem(1.4)
    color: #b2bac2
    float: right
    margin: 0 0 0 10px
