.global-header
    +single-box-shadow(rgba(#000, 0.2), 0, 2px, 4px)
    background-color: $color-bg-body
    height: 50px
    left: 70px
    line-height: 50px
    position: fixed
    right: 0
    top: 0
    z-index: 100


.global-header__title
    +rem(2)
    display: inline-block
    padding-left: 30px

.global-header__title-link
    color: #b2bac2

    &:hover
        color: #384047

.user-links
    float: right
    padding-right: 20px

.user-links__item
    float: left
    margin-left: 30px

.user-links__link
    color: #8d9aa5
    font-weight: bold

    &:hover
        color: #5a6772

.user-links__greeting-name
    color: #5a6772
    font-weight: bold
