.main-login
    +single-box-shadow(rgba(#000, 0.25), 0, 2px, 2px)
    background-color: #fff
    margin: 100px auto 0
    padding: 20px
    width: 320px

.main-login__error
    color: #a94442

.main-login__error--center
    text-align: center

.main-login dl
    margin: 0

.main-login dd
    margin: 0 0 20px

.main-login
    input[type="email"],
    input[type="password"],
        height: 38px

    input[type="submit"]
        font-weight: bold
        padding-bottom: 10px
        padding-top: 10px
