.content--app
    height: 100%
    padding: 70px 5px 0 0
    overflow: visible

.app-wrapper
    padding-right: 0

.app__title-and-meta
    margin: 0 20px 20px 0

.app_title
    +rem(1.6)
    color: #24425c
    font-weight: normal

.items-list
    padding-right: 20px

.items-list--table
    +rem(1.3)

    th
        background-color: #F3F3F3

// streaming

.streaming
    height: 100%
    position: relative

    .grid-column-1-2
        height: 100%
