$border-global-nav: 1px

.global-nav
    background: #384047
    width: 70px
    position: fixed
    padding: 10px
    top: 0
    left: 0
    bottom: 0
    z-index: 50

.global-nav__header-link
    +border-radius(5px)
    display: block
    height: 50px
    line-height: 50px
    margin-bottom: 10px
    text-align: center
    transition-duration: 0.2s

.global-nav__header-link--selected
    background-color: #2d3339

.global-nav__icon
    width: 34px
