.video
    margin-bottom: 20px

.video__content
    +border-radius(5px)
    background-color: #2d3339
    padding: 0

.video__video
    display: block
    height: auto
    margin: 0 auto
    width: 100%

    &::-webkit-media-controls
        display: none !important

    &::-webkit-full-screen
        bottom: 0px
        left: 0px
        margin: auto
        max-height: 100%
        max-width: 100%
        position: absolute
        right: 0px
        top: 0px

.video__controls
    +border-radius(5px)
    background-color: #000
    bottom: 10px
    right: 10px
    position: absolute

.video__control
    padding: 5px

.video__control .icon
    display: block
